.container {
  display: grid;
  background-color: #85869378;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100vh;
}

#item-0 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e0e0e0;
  background-color: #858693;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;

  grid-row-end: 2;
  grid-column-end: 5;
}
#item-1 {
  background-color: #e0e0e0;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
#item-2 {
  background-color: #e0e0e0;
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}
#item-3 {
  background-color: #e0e0e0;
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
}
#item-4 {
  background-color: #f5913e;
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;
}
#item-5 {
  background-color: #e0e0e0;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}
#item-6 {
  background-color: #e0e0e0;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
}
#item-7 {
  background-color: #e0e0e0;
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
}
#item-8 {
  background-color: #f5913e;
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 5;
}
#item-9 {
  background-color: #e0e0e0;
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;
}
#item-10 {
  background-color: #e0e0e0;
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;
}
#item-11 {
  background-color: #e0e0e0;
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 4;
}
#item-12 {
  background-color: #f5913e;
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;
}
#item-13 {
  background-color: #e0e0e0;
  grid-row-start: 5;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 2;
}
#item-14 {
  background-color: #e0e0e0;
  grid-row-start: 5;
  grid-column-start: 2;

  grid-row-end: 6;
  grid-column-end: 3;
}
#item-15 {
  background-color: #e0e0e0;
  grid-row-start: 5;
  grid-column-start: 3;

  grid-row-end: 6;
  grid-column-end: 4;
}
#item-16 {
  background-color: #f5913e;
  grid-row-start: 5;
  grid-column-start: 4;

  grid-row-end: 6;
  grid-column-end: 5;
}
#item-17 {
  background-color: #e0e0e0;
  grid-row-start: 6;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 3;
}
#item-18 {
  background-color: #e0e0e0;
  grid-row-start: 6;
  grid-column-start: 3;

  grid-row-end: 7;
  grid-column-end: 4;
}
#item-19 {
  background-color: #f5913e;
  grid-row-start: 6;
  grid-column-start: 4;

  grid-row-end: 7;
  grid-column-end: 5;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 1px;
  cursor: pointer;
}